.App {
  width: 100vw;
  height: 100vh;
  
}
.App-header {
  border-bottom: 1px solid salmon;
  height: 70px;
  font-size: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  background-color: salmon;
  flex: 70px;
  
}

.App-sidebar {
  height: 100%;
  width: 100%;
  background-color: #fac3a5;
  text-align: left;
}
.App-sidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}
.App-siderbarList.row {
  width: 100%;
  height: 70px;
  border: 1px solid white;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  flex: 70px;
  text-align: left;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: black;
}
.g{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
